<!DOCTYPE html>
<html>
<head>
	<title>JD2Resume</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>



<div class="input">
<h3> Please upload Job Description and Resume here </h3>
<br><br>
<form action="{{ url_for('result') }}" method="POST" enctype="multipart/form-data">

<label for="myfile">Select a Job Description:</label>
<input type="file" id="jd" name="jd" accept=".doc,.docx">
<br><br>
<label for="myfile">Select Resume : </label>
<input type="file" id="resume" name="resume" accept=".doc,.docx" multiple><br>
<span class ="note">* You can select multiple resumes</span> 
<br><br>

<button id="submit-search" type="submit" value="submit">Compare</button>

</form>

</div>


</body>
</html>
